In [5]:
%matplotlib inline
import pandas as pd

In [6]:
#Read in the dataset
dataset = pd.read_csv('./data/nyt1.csv')

In [7]:
#Lets take a look at what data we are dealing with
dataset.describe()

,Age,Gender,Impressions,Clicks,Signed_In
count,458441.000000,458441.000000,458441.000000,458441.000000,458441.000000
mean,29.482551,0.367037,5.007316,0.092594,0.700930
std,23.607034,0.481997,2.239349,0.309973,0.457851
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,3.000000,0.000000,0.000000
50%,31.000000,0.000000,5.000000,0.000000,1.000000
75%,48.000000,1.000000,6.000000,0.000000,1.000000
max,108.000000,1.000000,20.000000,4.000000,1.000000

In [9]:
#Here is our age list for reference, we'd like to create a new feature group based
#On the person's age
age_list = ["<18", "18-24", "25-34", "35-44", "45-54", "55-65", "65+"]
dataset = dataset.assign(age_group=dataset["Age"])

In [24]:
#Here is a helper function we can use to determine a person's age group
def assignAgeGroup(row):
    age = int(row.Age)
    if age < 18:
        return "<18"
    elif 18 <= age <= 24:
        return "18-24"
    elif 25 <= age <= 34:
        return "25-34"
    elif 35 <= age <= 44:
        return "35-44"
    elif 45 <= age <= 54:
        return "45-54"
    elif 55 <= age <= 64:
        return "55-65"
    else:
        return "65+"
#Lets take a look at the first bit of data so we can see the age group
dataset.head()

   Age  Gender  Impressions  Clicks  Signed_In  age_group
0   36       0            3       0          1         36
1   73       1            3       0          1         73
2   30       0            3       0          1         30
3   49       1            3       0          1         49
4   47       1           11       0          1         47

In [25]:
#Right now the age group is just the age, so lets mutate that to place 
#Each person into the right group
dataset["age_group"] = dataset.apply(lambda row: assignAgeGroup(row), axis=1)

In [26]:
#Alright, now our data should have the age group appropiately applied
dataset.head()

   Age  Gender  Impressions  Clicks  Signed_In age_group
0   36       0            3       0          1     35-44
1   73       1            3       0          1       65+
2   30       0            3       0          1     25-34
3   49       1            3       0          1     45-54
4   47       1           11       0          1     45-54

In [ ]:
dataset.cumsum()