In [23]:
import pandas as pd
import numpy as np
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import SGDClassifier

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attributes=[]):
        self.attributes = attributes
        return None
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attributes]

def getAttributes(data, includeTypes=None, excludeTypes=None):
    return list(data.select_dtypes(include=includeTypes, exclude=excludeTypes).columns)

def readData(filename):
    return pd.read_csv(filename)

def dropData(data, toDrop=[]):
    data = data.drop(columns=toDrop)
    return data

def cleanData(data, toFill=[]):
    toFill = {name: data[name].mode for name in toFill}
    data = data.fillna(toFill)
    return data

dataset = readData("train.csv")

dropList = ["Cabin", "Ticket", "Name", "PassengerId"]
fillList = ["Embarked", "Sex"]
dataset = dropData(data=dataset, toDrop=dropList)
dataset = cleanData(data=dataset, toFill=fillList)
numCols = dataset.shape[1]

np.random.seed(42)

#Split the datset into train and test, then into features and labels
dataTrain, dataTest = train_test_split(dataset, test_size=.2)
labelsTrain = dataTrain.iloc[:, 0:1]
dataTrain = dataTrain.iloc[:, 1:]
labelsTest = dataTest.iloc[:, 0:0]
dataTest = dataTest.iloc[:, 1:]

numAttr = getAttributes(dataTrain, excludeTypes="object")
catAttr = getAttributes(dataTrain, includeTypes="object")

numPipeline = Pipeline([
    ('selector', DataFrameSelector(numAttr)),
    ('imputer', SimpleImputer(strategy="median")),
    ('standarization', StandardScaler())
])

catPipeline = Pipeline([
    ('selector', DataFrameSelector(catAttr)),
    ('Encoder', OneHotEncoder(sparse=False, categories="auto"))
])

fullPipeline = FeatureUnion(transformer_list=[
    ('numPipeline', numPipeline),
    ('catPipeline', catPipeline)
])

num = numPipeline.fit_transform(dataTrain)
#cat = catPipeline.fit_transform(dataTrain)
dataTrain.info()

"""
dataTrainPrepared = fullPipeline.fit_transform(dataTrain)
dataTestPrepared = fullPipeline.fit_transform(dataTest)

sgd = SGDClassifier(random_state=42)
sgd.fit(dataTrainPrepared, labelsTrain)
print(sgd.score(dataTestPrepared, labelsTest))
"""

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 331 to 102
Data columns (total 7 columns):
Pclass      712 non-null int64
Sex         712 non-null object
Age         572 non-null float64
SibSp       712 non-null int64
Parch       712 non-null int64
Fare        712 non-null float64
Embarked    712 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 44.5+ KB

'\ndataTrainPrepared = fullPipeline.fit_transform(dataTrain)\ndataTestPrepared = fullPipeline.fit_transform(dataTest)\n\nsgd = SGDClassifier(random_state=42)\nsgd.fit(dataTrainPrepared, labelsTrain)\nprint(sgd.score(dataTestPrepared, labelsTest))\n'

In [17]:
dataTrain["Embarked"] = dataTrain["Embarked"].apply(str)

In [19]:
dataTrain["Embarked"].value_counts()

S                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             525
C                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             125
Q                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              60
<bound method Series.mode of 0      S\n1      C\n2      S\n3      S\n4      S\n5      Q\n6      S\n7      S\n8      S\n9      C\n10     S\n11     S\n12     S\n13     S\n14     S\n15     S\n16     Q\n17     S\n18     S\n19     C\n20     S\n21     S\n22     Q\n23     S\n24     S\n25     S\n26     C\n27     S\n28     Q\n29     S\n      ..\n861    S\n862    S\n863    S\n864    S\n865    S\n866    C\n867    S\n868    S\n869    S\n870    S\n871    S\n872    S\n873    S\n874    C\n875    C\n876    S\n877    S\n878    S\n879    C\n880    S\n881    S\n882    S\n883    S\n884    S\n885    Q\n886    S\n887    S\n888    S\n889    C\n890    Q\nName: Embarked, Length: 891, dtype: object>      2
Name: Embarked, dtype: int64

In [24]:
labelsTrain

     Survived
331         0
733         0
382         0
704         0
813         0
118         0
536         0
361         0
29          0
55          1
865         1
595         0
239         0
721         0
81          1
259         1
486         1
716         1
800         0
781         1
542         0
326         0
534         0
535         1
483         1
762         1
533         1
713         0
390         1
495         0
..        ...
276         0
191         0
385         0
805         0
413         0
491         0
343         0
769         0
308         0
661         0
130         0
663         0
871         1
99          0
372         0
87          0
458         1
330         1
214         0
466         0
121         0
614         0
20          0
700         1
71          0
106         1
270         0
860         0
435         1
102         0

[712 rows x 1 columns]